/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


body {
    display: inline-block;
    background: -webkit-radial-gradient(white, black);
}

/* Portrait layout (default) */
.cabecera{
    display: inline-block;
    width:100%;
    }

.imagenGoogle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transform: translate(0%, -30%);
}


.cuerpo {
    width:100%;
    height:120%;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.cuerpo > img {
    position:relative;
    top:0%;
    width:75%;
    height:75%;
    min-height:30%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    min-width:30%;
}

.footer {
    margin-bottom: 4px;
    text-align: center;
    font-size: 5px;
    color: white;
}




/* Landscape layout (with min-width) */
